<!DOCTYPE html>
<html>
<head>
  <title>Message Details</title>
</head>
<body>

  <h1>Message Details</h1>

  <h3>User:</h3>
  <p><%= message.user %></p>

  <h3>Message:</h3>
  <p><%= message.text %></p>

  <h3>Date:</h3>
  <p><%= message.added %></p>

  <br>

  <a href="/">Back</a>

</body>
</html>
